<?xml version="1.0"?>
<robot name="sensor_benewake_ce30d" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="sensor_benewake_ce30d" params="prefix parent prefix_topic:='lidar_3d' *origin range_min:=0.4 range_max:=28.0 hfov:=60.0 vfov:=4.0 fps:=30.0 gpu:=^|true">
    <material name="black_alu">
      <color rgba="0.9 0.9 0.9 1"/>
    </material>

    <joint name="${prefix}_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_base_link" />
    </joint>

    <link name="${prefix}_base_link">
      <visual>
      <!-- origin xyz="0 0 0" rpy="0 0 1.5708"/ -->
      <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/>
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/benewake_ce30d.stl" />
          <!--box size="${ce30d_length} ${ce30d_width} ${ce30d_height}"/-->
        </geometry>
        <material name="black_alu"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/benewake_ce30d.stl" />
        </geometry>
      </collision>
      <inertial>
        <!-- The following are not reliable values, and should not be used for modeling -->
        <mass value="0.336" />
        <origin xyz="0 0 0.027" rpy="0 0 ${M_PI/2}" />
        <xacro:solid_cuboid_inertia m="0.336" w="0.057" h="0.083" d="0.054" />
      </inertial>
    </link>

    <joint name="${prefix}_joint" type="fixed">
      <parent link="${prefix}_base_link"/>
      <!-- default ce30d_driver_ros configuration -->
      <child link="${prefix}_link" />
    </joint>
    <link name="${prefix}_link"/>

  <sensor_benewake_ce30d_gazebo range_min="${range_min}" range_max="${range_max}" hfov="${hfov}" vfov="${vfov}" fps="${fps}" gpu="${gpu}"/>

  </xacro:macro>

  <xacro:macro name="sensor_benewake_ce30d_gazebo" params="range_min range_max hfov vfov fps gpu">
    <gazebo reference="${prefix}_link">
      <xacro:if value="${gpu}">
        <!-- Using GPU needs: https://github.com/RobotnikAutomation/velodyne_simulator -->
        <xacro:property name="ray_type" value="gpu_ray" />
        <xacro:property name="plugin_lib" value="libgazebo_ros_velodyne_gpu_laser.so" />

      </xacro:if>
      <xacro:unless value="${gpu}">
        <xacro:property name="ray_type" value="ray" />
        <xacro:property name="plugin_lib" value="libgazebo_ros_block_laser.so" />
      </xacro:unless>
        <sensor type="${ray_type}" name="${prefix}_sensor">
          <pose>0 0 0 0 0 0.0</pose>
          <visualize>false</visualize>
          <update_rate>${fps}</update_rate>
          <ray>
            <scan>
              <horizontal>
				<!-- for a high quality simulation -->
                <samples>320</samples>
                <min_angle>-${hfov/2.0*M_PI/180.0}</min_angle>
                <max_angle>${hfov/2.0*M_PI/180.0}</max_angle>
              </horizontal>
              <vertical>
                <samples>20</samples>
                <min_angle>-${vfov/2.0*M_PI/180.0}</min_angle>
                <max_angle>${vfov/2.0*M_PI/180.0}</max_angle>
              </vertical>
            </scan>
            <range>
              <min>${range_min}</min>
              <max>${range_max}</max>
              <resolution>0.01</resolution>
            </range>
            <noise>
              <type>none</type>
            </noise>
          </ray>
          <plugin name="${prefix}_controller" filename="${plugin_lib}">
            <topicName>${prefix_topic}/points</topicName>
            <frameName>/${prefix}_link</frameName>
            <gaussianNoise>0.008</gaussianNoise>
          </plugin>
        </sensor>
    </gazebo>

  </xacro:macro>

</robot>
