<?xml version="1.0"?>
<robot name="sensor_orbbec_astra_embedded_s" xmlns:xacro="http://wiki.ros.org/Sensors/OrbbecAstra">

  <xacro:macro name="sensor_orbbec_astra_embedded_s" params="prefix parent prefix_topic:='front_rgbd_camera' *origin">

    <joint name="${prefix}_joint" type="fixed">
	  <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_link" />
    </joint>

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/orbbec_astra_embedded_s.stl"/>
          <!--box size="0.0148 0.0686 0.02235"/-->
        </geometry>
        <material name="dark_grey">
          <color rgba="0.4 0.4 0.4 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/orbbec_astra_embedded_s.stl"/>
          <!--box size="0.0148 0.0686 0.02235"/-->
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001" />
        <origin xyz="0.0 0.0 0.0" />
        <xacro:solid_cuboid_inertia m="0.001" w="0.04" h="0.165" d="0.03" />
      </inertial>
    </link>

    <joint name="${prefix}_rgb_joint" type="fixed">
      <origin xyz="0 0.0058 0" rpy="0.0 0 0"/>
      <parent link="${prefix}_link"/>
      <child link="${prefix}_rgb_frame"/>
    </joint>

    <link name="${prefix}_rgb_frame">
    </link>

    <joint name="${prefix}_rgb_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="${prefix}_rgb_frame" />
      <child link="${prefix}_rgb_optical_frame" />
    </joint>

    <link name="${prefix}_rgb_optical_frame">
    </link>

    <joint name="${prefix}_depth_joint" type="fixed">
      <origin xyz="0 0.02 0" rpy="0 0 0" />
      <parent link="${prefix}_link" />
      <child link="${prefix}_depth_frame" />
    </joint>

    <link name="${prefix}_depth_frame">
    </link>

    <joint name="${prefix}_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="${prefix}_depth_frame" />
      <child link="${prefix}_depth_optical_frame" />
    </joint>

    <link name="${prefix}_depth_optical_frame">
    </link>

  <!-- RGBD sensor for simulation, same as Kinect -->
  <sensor_astra_embedded_s_gazebo/>

  </xacro:macro>

   <xacro:macro name="sensor_astra_embedded_s_gazebo">

    <gazebo reference="${prefix}_link">
      <sensor type="depth" name="${prefix}_depth_sensor">
        <always_on>true</always_on>
        <update_rate>20.0</update_rate>
        <camera>
          <horizontal_fov>${67.9*M_PI/180.0}</horizontal_fov>
          <image>
            <format>R8G8B8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>3.5</far>
          </clip>
        </camera>
        <plugin name="${prefix}_controller" filename="libgazebo_ros_openni_kinect.so">
	        <cameraName>${prefix_topic}</cameraName>
          <alwaysOn>true</alwaysOn>
          <updateRate>10</updateRate>
          <imageTopicName>rgb/image_raw</imageTopicName>
          <depthImageTopicName>depth/image_raw</depthImageTopicName>
          <pointCloudTopicName>depth/points</pointCloudTopicName>
          <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
          <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
          <frameName>/${prefix}_depth_optical_frame</frameName>
          <baseline>0.1</baseline>
          <distortion_k1>0.0</distortion_k1>
          <distortion_k2>0.0</distortion_k2>
          <distortion_k3>0.0</distortion_k3>
          <distortion_t1>0.0</distortion_t1>
          <distortion_t2>0.0</distortion_t2>
          <pointCloudCutoff>0.4</pointCloudCutoff>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
